*{
    margin: 0;
    padding: 0;
}


.header{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content:center;
}

.main{
    width: 100%;
    background-color: blue;
    display: flex;
}

.side-nav{
    width: 25%;
    height: calc(100vh - 100px);
    background-color: aliceblue;
}

.content{
    width: 75%;
    height: calc(100vh - 100px);
    background-color:blueviolet; 
}

.footer{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content:center;
}

